*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}
/* =========== header section =========== */
.header-section{
   background-image: url(./image/banner.png);
   background-repeat: no-repeat;
   height: 500px;
   background-position: center;
   background-size: cover; 
}
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 500px;  
    
}
.header-content img{
    height: 500px;
    width: 100%;    
}
.header-content .header-text{
    color: #fff;
}
.btn{
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 0.9rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background: #fff;
    color: rgb(47, 15, 77);
}

/* ==== header section responsive start here ==== */
@media only screen and (max-width: 480px){
    .header-section{
        height: 100vh;
    }
    .container{
        width: 90%;
        
    }
    .header-content{
        grid-template-columns: 1fr ;
        height: 100vh;
    }
    .header-content .header-text{
        text-align: center;
    }
    .header-text h1{
        font-size: 25px;
        margin-bottom: 0.5rem;
    }
    .btn{
        padding: 0.4rem 0.9rem;
    }   
}
/* ===== header section end ======= */


/* ============ table section start ========== */
.our-batch-details{
    padding-bottom: 50px;
}
.table-container{
    padding: 0 10%;
}
.heading{
    font-size: 40px;
    text-align: center;
    color:#000000;
    margin: 2rem;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background: #fa384b;
}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #fff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td{
    font-size:14px ;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}
.table .text-open{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #ff1046;
}
.table tbody tr td .enrol{
    width: 130px;
    line-height: 35px;
    text-decoration: none;
    display: inline-block;
    background-color: #ff1046;
    color: #fff;
    font-weight: medium;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}

/* =========== table responsive here ============== */
@media (max-width: 480px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table rt, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left:50%;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}